@tailwind base;
@tailwind components;

@layer components {
	.input {
		@apply w-full rounded-md border border-stone-200 px-4 py-2 transition-all duration-300 placeholder:text-stone-400 focus:outline-none focus:ring focus:ring-yellow-400;
	}

	.input-group {
		@apply mb-5 flex flex-col gap-2 sm:flex-row sm:items-center;
	}

	.input-group > label {
		@apply sm:min-w-[12rem];
	}

	.input-group > div {
		@apply grow;
	}

	.input-group.error {
		@apply text-red-700;
	}

	.input-group.error input {
		@apply mb-1 border-red-700;
	}

	.input-checkbox {
		@apply mb-12 flex items-center gap-3;
	}

	.badge {
		@apply rounded-full px-3  py-1 text-xs font-medium uppercase tracking-wide;
	}

	.badge-purple {
		@apply bg-purple-500 text-purple-50;
	}

	.badge-green {
		@apply bg-green-500 text-green-50;
	}

	/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
	.loader {
		width: 45px;
		aspect-ratio: 0.75;
		--c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
		background:
			var(--c) 0% 50%,
			var(--c) 50% 50%,
			var(--c) 100% 50%;
		background-size: 20% 50%;
		animation: loading 1s infinite linear;
	}

	@keyframes loading {
		20% {
			background-position:
				0% 0%,
				50% 50%,
				100% 50%;
		}
		40% {
			background-position:
				0% 100%,
				50% 0%,
				100% 50%;
		}
		60% {
			background-position:
				0% 50%,
				50% 100%,
				100% 0%;
		}
		80% {
			background-position:
				0% 50%,
				50% 50%,
				100% 100%;
		}
	}
}

.btn {
	@apply inline-block rounded-full font-semibold uppercase tracking-wide transition-colors duration-300 focus:outline-none focus:ring focus:ring-offset-2 disabled:cursor-not-allowed;
}

.btn-primary {
	@apply bg-yellow-400 text-stone-800 hover:bg-yellow-300 focus:bg-yellow-300 focus:ring-yellow-300;
}

.btn-outline-secondary {
	@apply border-2 border-stone-300 bg-transparent text-stone-400 hover:bg-stone-300 hover:text-stone-500 focus:bg-stone-300 focus:text-stone-500 focus:ring-stone-200;
}

.btn-outline-secondary.btn-md {
	@apply px-5 py-2.5 sm:py-3.5;
}

.btn-link {
	@apply text-sm text-blue-500 hover:text-blue-600 hover:underline;
}

.btn-sm {
	@apply px-4 py-2 text-xs md:px-5 md:py-2.5;
}

.btn-md {
	@apply px-6 py-3 text-sm sm:py-4;
}

@tailwind utilities;
